<div class="header">
    <div>Home</div>
    <div>Feature</div>
    <div>Exchange</div>
    <div>Pricing</div>
    <div>Tutorials</div>
</div>

<!-- <div class="grid">
    <div class="col-12 md:col-6 lg:col-3 bg-blue-100">A</div>
    <div class="col-12 md:col-6 lg:col-3 bg-blue-200">B</div>
    <div class="col-12 md:col-6 lg:col-3 bg-blue-300">E</div>
    <div class="col-12 md:col-6 lg:col-3 bg-blue-400">F</div>
    <div class="col-12 md:col-6 lg:col-3 bg-blue-500">G</div>
    <div class="col-12 md:col-6 lg:col-3 bg-blue-600">H</div>
    <div class="col-12 md:col-6 lg:col-3 bg-blue-700">I</div>
    <div class="col-12 md:col-6 lg:col-3 bg-blue-800">J</div>
    <div class="col-12 md:col-6 lg:col-3 bg-blue-900">K</div>
    <div class="col-12 md:col-6 lg:col-3 bg-primary-50">K</div>
    <div class="col-12 md:col-6 lg:col-3 bg-primary-100">K</div>
    <div class="col-12 md:col-6 lg:col-3 bg-primary-200">K</div>
    <div class="col-12 md:col-6 lg:col-3 bg-primary-300">K</div>
    <div class="col-12 md:col-6 lg:col-3 bg-primary-400">K</div>
    <div class="col-12 md:col-6 lg:col-3 bg-primary-500">K</div>
    <div class="col-12 md:col-6 lg:col-3 bg-primary-600">K</div>
    <div class="col-12 md:col-6 lg:col-3 bg-primary-700">K</div>
    <div class="col-12 md:col-6 lg:col-3 bg-primary-800">K</div>
    <div class="col-12 md:col-6 lg:col-3 bg-primary-900">K</div>
</div> -->